<?php
/**
 * DrugsApi
 * PHP version 5
 *
 * @category Class
 * @package  Vericred\Client
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
/**
 *  Copyright 2016 SmartBear Software
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program. 
 * https://github.com/swagger-api/swagger-codegen 
 * Do not edit the class manually.
 */

namespace Swagger\Client\Api;

use \Vericred\Client\Configuration;
use \Vericred\Client\ApiClient;
use \Vericred\Client\ApiException;
use \Vericred\Client\ObjectSerializer;

/**
 * DrugsApi Class Doc Comment
 *
 * @category Class
 * @package  Vericred\Client
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class DrugsApi
{

    /**
     * API Client
     * @var \Vericred\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;
  
    /**
     * Constructor
     * @param \Vericred\Client\ApiClient|null $apiClient The api client to use
     */
    function __construct($apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('https://api.vericred.com/');
        }
  
        $this->apiClient = $apiClient;
    }
  
    /**
     * Get API client
     * @return \Vericred\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }
  
    /**
     * Set the API client
     * @param \Vericred\Client\ApiClient $apiClient set the API client
     * @return DrugsApi
     */
    public function setApiClient(ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }
  
    /**
     * getDrugCoverages
     *
     * Search for DrugCoverages
     *
     * @param string $ndc_package_code NDC package code (required)
     * @param string $audience Two-character state code (required)
     * @param string $state_code Two-character state code (required)
     * @param string $vericred_api_key API Key (optional)
     * @return \Swagger\Client\Model\DrugCoverageResponse
     * @throws \Vericred\Client\ApiException on non-2xx response
     */
    public function getDrugCoverages($ndc_package_code, $audience, $state_code, $vericred_api_key = null)
    {
        list($response) = $this->getDrugCoveragesWithHttpInfo ($ndc_package_code, $audience, $state_code, $vericred_api_key);
        return $response; 
    }


    /**
     * getDrugCoveragesWithHttpInfo
     *
     * Search for DrugCoverages
     *
     * @param string $ndc_package_code NDC package code (required)
     * @param string $audience Two-character state code (required)
     * @param string $state_code Two-character state code (required)
     * @param string $vericred_api_key API Key (optional)
     * @return Array of \Swagger\Client\Model\DrugCoverageResponse, HTTP status code, HTTP response headers (array of strings)
     * @throws \Vericred\Client\ApiException on non-2xx response
     */
    public function getDrugCoveragesWithHttpInfo($ndc_package_code, $audience, $state_code, $vericred_api_key = null)
    {
        
        // verify the required parameter 'ndc_package_code' is set
        if ($ndc_package_code === null) {
            throw new \InvalidArgumentException('Missing the required parameter $ndc_package_code when calling getDrugCoverages');
        }

        // verify the required parameter 'audience' is set
        if ($audience === null) {
            throw new \InvalidArgumentException('Missing the required parameter $audience when calling getDrugCoverages');
        }

        // verify the required parameter 'state_code' is set
        if ($state_code === null) {
            throw new \InvalidArgumentException('Missing the required parameter $state_code when calling getDrugCoverages');
        }
  
        // parse inputs
        $resourcePath = "/drug_packages/{ndc_package_code}/coverages";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array());
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array());
  
        // query params
        if ($audience !== null) {
            $queryParams['audience'] = $this->apiClient->getSerializer()->toQueryValue($audience);
        }// query params
        if ($state_code !== null) {
            $queryParams['state_code'] = $this->apiClient->getSerializer()->toQueryValue($state_code);
        }
        // header params
        if ($vericred_api_key !== null) {
            $headerParams['Vericred-Api-Key'] = $this->apiClient->getSerializer()->toHeaderValue($vericred_api_key);
        }
        // path params
        if ($ndc_package_code !== null) {
            $resourcePath = str_replace(
                "{" . "ndc_package_code" . "}",
                $this->apiClient->getSerializer()->toPathValue($ndc_package_code),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
                // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, 'GET',
                $queryParams, $httpBody,
                $headerParams, '\Swagger\Client\Model\DrugCoverageResponse'
            );
            if (!$response) {
                return array(null, $statusCode, $httpHeader);
            }

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\DrugCoverageResponse', $httpHeader), $statusCode, $httpHeader);
                    } catch (ApiException $e) {
            switch ($e->getCode()) { 
            case 200:
                $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\DrugCoverageResponse', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
    /**
     * listDrugs
     *
     * Drug Search
     *
     * @param string $search_term Full or partial proprietary name of drug (required)
     * @param string $vericred_api_key API Key (optional)
     * @return \Swagger\Client\Model\DrugSearchResponse
     * @throws \Vericred\Client\ApiException on non-2xx response
     */
    public function listDrugs($search_term, $vericred_api_key = null)
    {
        list($response) = $this->listDrugsWithHttpInfo ($search_term, $vericred_api_key);
        return $response; 
    }


    /**
     * listDrugsWithHttpInfo
     *
     * Drug Search
     *
     * @param string $search_term Full or partial proprietary name of drug (required)
     * @param string $vericred_api_key API Key (optional)
     * @return Array of \Swagger\Client\Model\DrugSearchResponse, HTTP status code, HTTP response headers (array of strings)
     * @throws \Vericred\Client\ApiException on non-2xx response
     */
    public function listDrugsWithHttpInfo($search_term, $vericred_api_key = null)
    {
        
        // verify the required parameter 'search_term' is set
        if ($search_term === null) {
            throw new \InvalidArgumentException('Missing the required parameter $search_term when calling listDrugs');
        }
  
        // parse inputs
        $resourcePath = "/drugs";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));
  
        // query params
        if ($search_term !== null) {
            $queryParams['search_term'] = $this->apiClient->getSerializer()->toQueryValue($search_term);
        }
        // header params
        if ($vericred_api_key !== null) {
            $headerParams['Vericred-Api-Key'] = $this->apiClient->getSerializer()->toHeaderValue($vericred_api_key);
        }
        
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
                // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, 'GET',
                $queryParams, $httpBody,
                $headerParams, '\Swagger\Client\Model\DrugSearchResponse'
            );
            if (!$response) {
                return array(null, $statusCode, $httpHeader);
            }

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\DrugSearchResponse', $httpHeader), $statusCode, $httpHeader);
                    } catch (ApiException $e) {
            switch ($e->getCode()) { 
            case 200:
                $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\DrugSearchResponse', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
}
